@import url('style.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}


/* Header */
.perfil-header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
    padding: 20px;
}

.perfil-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--accent-color);
    background-size: cover;
    background-position: center;
}

.perfil-info h1 {
    font-size: 28px;
    color: var(--text-color);
    margin: 0;
}

.perfil-info h2 {
    font-size: 18px;
    color: var(--dark-color);
    margin: 5px 0;
    font-weight: 500;
}

.perfil-link {
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
}
.perfil-link:hover {
    text-decoration: underline;
}

.perfil-divider {
    border: none;
    border-top: 1px solid var(--primary-color);
    margin: 20px 0;
}

/* Cuerpo perfil */
.perfil-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 20px;

}

/* Trayectoria */
.perfil-trayectoria h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--text-color);
}

.perfil-trayectoria p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.6;
    text-align: justify;
}

/* Sidebar botones */
.perfil-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.perfil-btn {
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    text-align: left;
}

.perfil-btn:hover {
    background: var(--dark-color);
}

.perfil-btn i {
    margin-right: 8px;
    font-size: 16px;
    vertical-align: middle;
}
/* Editar datos */
.formulario {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: var(--light-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.formulario h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}
.formulario label {
    display: block;
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="file"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--secondary-color);
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 5px;
}
.formulario button {
    background-color: transparent;
    color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;

}
.formulario a {
        color: var(--dark-color);
    }
/* FIRMA */
#signature {
    border: 2px dashed var(--secondary-color);
    border-radius: 10px;
    background-color: #fff;
    display: block;
    margin: 10px 0;
    cursor: crosshair;
    width: 100%;
    max-width: 350px;
}

.firma-text {
    font-size: 0.85rem;
    color: var(--text-color);
    margin-top: 8px;
}

.btn-clear{
    background-color: transparent;
    color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.btn-clear:hover {
    background-color: var(--accent-color);
    color: #fff;
}