*{
    margin: 0;
    padding: 0;
   
}

body{
 font-family: 'Poppins', sans-serif;
    margin: 0;
}
.formu-register {   
    display: flex;
    border: 1px solid #ccc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     width: 450px;
    padding: 20px;
    border-radius: 6px;
   background-color: #ffffff;
    order: 2;
}
.input {
    color: rgb(0, 0, 0);
  background-color: #F5F5F5;
  border: 5px solid #ffffff;
  border-radius: 6px;
  padding: 12px 20px;
  width: 70%;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.input::placeholder{
    color: #646464;
    font-weight: 600;
   
}
.input:hover{
    background-color: #9673CE;
    color: #000000;
}

.encabezado-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navegacion a {
  text-decoration: none;
  color: #1e293b;
  font-weight: 500;
  transition: color 0.3s;
}

.navegacion {
  display: flex;
  gap: 20px;
  align-items: center;
}

.boton-register {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  width: 70%;
  text-transform: uppercase;
   border: none;
}

.fechaNacimiento {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: #F5F5F5;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-align: center;
}
.departamento:hover, .fechaNacimiento:hover,.boton-register:hover {
  background-color: #9673CE;
  color: #000000;
}
.departamento{
      width: 60%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #F5F5F5;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-align: center;

}

.imagen-registro{
    order: 1;
}
.caja-register {
    display: flex;
    width: 100%;
    margin: 35px auto;

    justify-content: space-around;
    align-items: center;
    
}       
