:root{
    --primary-color: #90B3BF;
    --dark-color: #5E9AAB;
    --secondary-color: rgb(198, 226, 241);
    --background-color: #f4f4f4;
    --text-color: #333;
    --font-family: "Inter", sans-serif;
    --accent-color:#6D50FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family);

}

.container{
    display: flex;
    height: auto;
    width: 100vw;
    background-color: var(--background-color);
}

.sidebar{
    color: white;
    width: 220px;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px;
    flex:1;
}

.empleados-container{
    display: flex;
    height: 100vh;
    flex: 6;
}
.log{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.main-info{
    display: flex;
    align-items: center;
    gap: 25px;
    height: 600px;
    flex: 0 0 5;
    width: 100%;
    
    
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    flex: 1;
    font-size: 1.2rem;
    padding: 50px;
}
.main-text h1{
    font-size:4rem;
}
.main-text h4{
    font-size:1.5rem;
    font-weight: 300;
}

.main-text{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        flex: 1;
        font-size: 1.2rem;
        padding: 50px;
        
   
    }
.main-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 50px 20px;

        
}

.main-img img{
    width: 50%;
        
}
.main-funciones{
    display: flex;
    align-items: center;
    padding: 50px 20px;
    height: 600px;
    width: 100%;
    background-color: var(--primary-color);
    overflow-x: hidden;
    justify-content: space-around;
}
.funcion-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 20px;
    height: 400px;
    width: 300px;
    .fa-solid{
        font-size: 2rem;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 150px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 25%;
}

.navegacion{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    color: #1e293b;
    font-weight: 500;
    transition: color 0.3s;
}

/* Admin */
.admin-dashboard{
    height: 100vh;
    width: 100vw;
    display: flex;
}
/* SIDE MENU */

.side-nav{
    height: 100vh;
    width: 250px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:35px;
    padding-top: 50px;
    list-style-type: none;
    padding-left: 20px;

}

.side-nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    flex:5;
    
}

.side-nav li{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}
.icon{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color: #fff;
    height: 55px;
    border-radius: 30px 0 0 30px;
    padding-left:10px;
    box-shadow:  var(--dark-color) 0px 25px 20px -20px;
}
.selected i{
    color: var(--dark-color);

}

.selected a{
    color: var(--dark-color);

}

.main-dashboard{
    flex-grow: 1;
    padding: 20px;
    display: flex;
}

.main-dashboard section{
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.main-dashboard section h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: var(--dark-color);
}

.container-latest-post{
    background: var(--dark-color);
    width: 80%;
    height: 70%;
    border-radius:40px;
    padding:40px 24px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
    
}
.container-post{
    background: #fff;
    width:  95%;
    height: 70%;
    border-radius:40px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    color: white;
}

.container-latest-event{
    background: var(--primary-color);
    width: 50%;
    height: 93%;
    border-radius:40px;
    padding:40px 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    align-self: flex-start;
}

.latest-event-date{
    background: var(--dark-color);
    width: 85%;
    height: 25%;
    border-radius:40px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.latest-event-list{
    background: var(--background-color);
    width: 85%;
    height: 60%;
    border-radius:40px;
    padding: 24px;

}

/* Muro Informativo */

.container-news{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 10px;
    overflow-y: scroll;
}

.post{
     display: flex;
    flex-direction: column;
    width:500px;
    min-height:300px;
    border-radius: 20px;
    border: solid var(--dark-color) 1px;
   
}
.post-form{
     display: flex;
    flex-direction: column;
    width:500px;
    min-height:200px;
    border-radius: 20px;
    border: solid var(--dark-color) 1px;
   
}

.post-input{
    flex:4;
    padding: 4px;
}
.post-input input{
    border: none;

}
.post-footer{
    flex:1;
    background-color: var(--dark-color);
    border-radius:  0 0 20px 20px;
    display: flex;
    justify-content: end;
    padding: 5px;

}
.button{
    padding: 5px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);

}
.post-header{
    flex:1;
    background-color: var(--dark-color);
    border-radius: 20px 20px 0 0px;
    display: flex;
    padding: 5px;
    align-items: center;

}
.post-content{
    flex:4;
}
.post-reactions{
    flex:1;
}

.header-profile{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: var(--accent-color);
}
