<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/fonts/fontawesom/fawesome-all.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" href="../../assets/img/logo/logo.png" type="image/x-icon">
    <title>Echolinks</title>
</head>
<body>
    <section class="admin-dashboard">
            <ul class="side-nav">
                <li class="logo">
                </li>
                <li class="selected">
                    <i class="fa-solid icon fa-house"></i>
                    <a href="#">Home</a>
                </li>
                <li>
                    <i class="fa-solid icon fa-users"></i>
                    <a href="#">Gestión de Empleados</a>
                </li>
                <li>
                    <i class="fa-solid icon fa-file"></i>
                    <a href="#">Documentos</a>
                </li>
                <li>
                    <i class="fa-solid icon fa-newspaper"></i>
                    <a href="#">Muro Informativo</a>
                </li>
                <li>
                    <i class="fa-solid icon fa-memo-circle-info"></i>
                    <a href="#">Curriculums</a>
                </li>
                <li>
                    <i class="fa-solid icon fa-right-from-bracket"></i>
                    <a href="#">Cerrar Sesión</a>
                </li>
            </ul>
            <main class="main-dashboard">
                <section>
                    <h1>Bienvenido al Panel de Administración</h1>

                    <article class="container-latest-post">
                        <h3>Ultima Publicacion</h3>
                        <div></div>
                    </article>
                </section>
                <section>
                    <h3>Recuerda que hoy es</h3>
                    <div></div>
                    <div></div>
                </section>
            </main>
    </section>
</body>
</html>